accept_types >=0.4.1
apscheduler
cachetools
gunicorn
httplib2 >=0.7.7
ipaddr
lxml >=4.1.1
mako
pyXMLSecurity >=0.15
pyconfig
pydantic
pyramid
pyyaml >=3.10
redis
redis-collections
requests
requests_cache
requests_file
simplejson >=2.6.2
six>=1.11.0
sphinx
sphinx-pypi-upload
whoosh
wsgi-intercept
xmldiff
pygments>=2.7.4 # not directly required, pinned by Snyk to avoid a vulnerability
