urllib3==1.26.19
pytz
accept_types >=0.4.1
apscheduler==3.6.3
cachetools
gunicorn
httplib2 >=0.7.7
lxml >=4.1.1
mako
pyXMLSecurity >=1.0.0
pyconfig
pydantic==2.4.*
pyramid
pyyaml >=3.10
redis
redis-collections
requests
requests_cache
requests_file
simplejson >=2.6.2
six>=1.11.0
whoosh
wsgi-intercept
xmldiff
str2bool
setuptools>=70.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability