

.nav-pills.flex-column > .nav-item > .nav-link.active,
.nav-pills.flex-column > .nav-item > a:hover {
    text-decoration: none;
    border-radius: 0px;
    border-right: 4px solid #e97d20;
    color: #000 !important;
    background-color: transparent !important;
}

.nav-item > .nav-link.active {
    font-weight: bold;
}
.nav-item > .nav-link {
    border-radius: 0px;
}

ul.nav {
    background: none;
    border-radius: 0px;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    margin-bottom: 40px;
    padding-top: 0px;
    padding-bottom: 20px;
    color: #000 !important;
    background-color: transparent !important;
}