.table-wrapper {
    overflow-x: auto;
    overflow-y: auto;
    font-size: small;
}

img.idp-icon {
    margin-left: 20px;
    max-height: 30px;
}

.idp-label {
    display: inline-block;
}
li.idp {
    margin-top: 5px;
}
.inline li {
    display: inline;
}
.tab-pane {

}

html { height: 100%; }
body {
    height: 100%;
}

#wrap {
    min-height: 99%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -180px;
}
#push {
    height: 180px;
}
#footer {
    height: 180px;
    background-color: rgb(242, 242, 242);
}
#remember-message {
    margin-top: 20px;
}
#remember-message form {
    margin-bottom: 2px;
}

.brand {

}
