:root {
  --white: #ffffff;
  --text-grey: #444444;
  --warm-grey: #767676;
  --white-two: #f6f6f6;
  --footer-grey: #ebebeb;
  --primary-blue: #0079ff;
  --white-50: rgba(255, 255, 255, 0.5);
  --white-three: #e6e6e6;
}

.ra21CTAcontainer {
  width: 320px;
  height: 60px;
  border-radius: 7px;
  background-image: linear-gradient(to bottom, #0079ff, #005ac0);
  background-image: linear-gradient(to bottom, var(--primary-blue), #005ac0);
}

.ra21CTAicon {
  width: 21.1px;
  height: 22px;
  object-fit: contain;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);
}

.ra21CTAheadline {
  width: 260px;
  height: 16px;
  font-family: LibreFranklin;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  color: var(--white);
}

.ra21CTAtitle {
  width: 260px;
  height: 16px;
  font-family: LibreFranklin;
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  color: var(--white);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ra21CTAspacer {
  width: 2px;
  height: 40px;
  border: solid 1px rgba(255, 255, 255, 0.8);
}

.ra21CTAbuttonLabel {
    display: flex;
    align-items: center;
}

.ra21CTAbutton {
    display: inline-block;
}