<!DOCTYPE HTML>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="it"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="it"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="it"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="it"><!--<![endif]-->
<head>
    <title>
        {% block title %}{{brand}}{% endblock %}
    </title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/png" href="/static/agid/favicon/favicon-32x32.png">
    <meta name="theme-color" content="#ffffff">

    <!-- CSS -->
    <link rel="stylesheet" href="/static/agid/css/bootstrap-italia.css">
    <link rel="stylesheet" type="text/css" href="/static/agid/css/italia-web-toolkit.min.css">
    <link rel="stylesheet" type="text/css" href="/static/agid/css/idp-login.css">


    <!--[if lt IE 9]>
    <script src="/static/agid/js/selectivizr.min.js'"></script>
    <script src="/static/agid/js/respond.min.js'"></script>
    <script src="/static/agid/js/rem.min.js'"></script>
    <![endif]-->
</head>
<body>
    <div class="container">
        {% block nav %}
        {% endblock %}
        <div class="header text-muted">
            {% block header %}
            <div class="row">
                <div class="col-12 text-truncate">
                    <h2>{% block headline %}{% trans %}{{ headline }}{% endtrans %}{% endblock %}</h2>
                    <small>{% block subheading %}{{subheading}}{% endblock %}</small>
                </div>
            </div>
            {% endblock header %}
            <div class="clearfix"></div>
        </div>
        <div class="content">
        {% block content %}
        {{ content }}
        {% endblock %}
            <div class="clearfix"></div>
        </div>
        {% block footer %}
        {% endblock %}

        <script  type="text/javascript" >
        // embedded polyfill
        //   instead of getting it from "https://cdn.polyfill.io/v2/polyfill.min.js"
        (function(undefined) {}).call('object' === typeof window && window || 'object' === typeof self && self || 'object' === typeof global && global || {});
        </script>

        <script type="text/javascript" src="/static/js/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="/static/js/popper.min.js"></script>
        <script type="text/javascript" src="/static/js/hogan.min.js"></script>

        {% block bottom_scripts %}
            <script src="/static/agid/js/bootstrap-italia.bundle.min.js"></script>
        {% endblock bottom_scripts %}

        {% block endscripts %}
        {% endblock %}
        {% block final %}
        {% endblock %}

    </div>
</body>

</html>
