<!DOCTYPE html>
<html>
<head>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/css/style.css" rel="stylesheet"/>
    <link href="/static/css/errors.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
</head>
<body>
    <div class="container">
        <div class="header text-muted">
            <div class="row">
                <div class="col-sm-10">
                    <h3>{{ gettext('Service restarting...') }}</h3>
                </div>
            </div>
        </div>
        <div class="text-center">
            <i class="fa fa-spin fa-cog fa-5x"></i>
        </div>
    </div>

    <script type="text/javascript">
        setTimeout(function() {
            location.reload();
        }, 10000);
    </script>
</body>
</html>
