<!DOCTYPE html>
<html>
<head>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/css/pyff.css" rel="stylesheet"/>
    <link href="/static/css/style.css" rel="stylesheet"/>
    <link href="/static/css/ds.css" rel="stylesheet"/>
    <link href="/static/css/spinner.css" rel="stylesheet"/>
</head>
<body>
    <div class="container">
        <div class="header text-muted">
            <div class="row">
                <div class="col-sm-10">
                    <h3>{{ gettext('Service restarting...') }}</h3>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="spinner">
              <div class="rect1"></div>
              <div class="rect2"></div>
              <div class="rect3"></div>
              <div class="rect4"></div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        setTimeout(function() {
            location.reload();
        }, 10000);
    </script>
</body>
</html>
