<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{{brand}}{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=10" />
    <meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1">
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/css/style.css" rel="stylesheet"/>
    <link href="/static/css/nav.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <script type="text/javascript" src="/static/js/jquery-3.2.1.min.js"></script>
    {% block script %}
    {% endblock %}
</head>
<body>
    <div class="container">
        {% block nav %}
        {% endblock %}
        <div class="header text-muted">
            {% block header %}
            <div class="row">
                <div class="col-md-10">
                    <h3>{% block headline %}{% trans %}{{ headline }}{% endtrans %}{% endblock %}</h3>
                    {% block subheading %}<small>{{subheading}}</small>{% endblock %}
                </div>
                <div class="col-md-2">
                    {% block minitools scoped %}{% endblock minitools %}
                </div>
            </div>
            {% endblock header %}
            <div class="clearfix"></div>
        </div>
        <div class="content">
        {% block content %}
        {{ content }}
        {% endblock %}
            <div class="clearfix"></div>
        </div>
        {% block footer %}
        {% endblock %}

        <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/static/js/hashes.min.js"></script>
        <script type="text/javascript" src="/static/js/jquery.browser.js"></script> <!-- needed for bbq -->
        <script type="text/javascript" src="/static/js/jquery.ba-bbq.min.js"></script> <!-- needed for ds response -->
        <script type="text/javascript" src="/static/js/hogan.min.js"></script>
        <script type="text/javascript" src="/static/js/json2.min.js"></script>
        <script type="text/javascript" src="/static/js/jstorage.min.js"></script>
        <script type="text/javascript" src="/static/js/imgload.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap-list-filter.src.js"></script>

        <!--[if lt IE 9]>
        <script src="/static/js/html5shiv.js"></script>
        <script src="/static/js/respond.min.js"></script>
        <![endif]-->
        <script type="text/javascript">
            $(document).ready(function() {
               $('img.fallback').bind('error', function () {
                   $(this).unbind('error');
                   $(this).attr('src', "/static/icons/1x1t.png").removeClass('img-thumbnail');
               }).imgLoad(function() {
                   $(this).fadeIn(300);
               });
            });
        </script>

        {% block final %}
        {% endblock %}

    </div>
</body>
</html>
