<!doctype html>
<html>
<head>
    <title>{% block title %}{{brand}}{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1">

    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet"/>
    <link href="/static/css/nav.css" rel="stylesheet"/>
    <link href="/static/css/icon.css" rel="stylesheet"/>
    {% block css %}
    {% endblock %}
    {% block script %}
    {% endblock %}
</head>
<body>
    <div class="container">
        {% block nav %}
        {% endblock %}
        <div class="header text-muted">
            {% block header %}
            <div class="row">
                <div class="col-12 text-truncate">
                    <h2>{% block headline %}{% trans %}{{ headline }}{% endtrans %}{% endblock %}</h2>
                    <small>{% block subheading %}{{subheading}}{% endblock %}</small>
                </div>
            </div>
            {% endblock header %}
            <div class="clearfix"></div>
        </div>
        <div class="content">
        {% block content %}
        {{ content }}
        {% endblock %}
            <div class="clearfix"></div>
        </div>
        {% block footer %}
        {% endblock %}
        <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
        <script type="text/javascript" src="/static/js/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="/static/js/popper.min.js"></script>
        <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/static/js/hogan.min.js"></script>
        {% block endscripts %}
        {% endblock %}
        {% block final %}
        {% endblock %}

    </div>
</body>
</html>
