{% extends "ui.html" %}

{% block navtools %}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Entity
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" data-toggle="modal" data-target="#entity_metadata">Show Metadata</a>
      <a class="dropdown-item" href="/entities/{{entity_id|u}}">XML Metadata</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="/role/idp.ds?entityID={{entity_id}}&amp;return=#">Discovery Test</a>
    </div>
  </li>
{% endblock %}

{% block content %}
<div>
    <div class="modal fade" id="entity_metadata">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&#215;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">{{entityID}}</h4>
                </div>
                <div class="modal-body">
                    <div class="tab-pane" id="fullxml">
                        <pre class="pre-scrollable prettyprint linenums language-xml">
                            <code role="entity">{{entity.xml}}</code>
                        </pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-4 col-md-4">
        <ul id="menu" class="nav nav-pills flex-column">
            <li class="nav-item"><a class="nav-link" href="#summary" role="tab" data-toggle="tab">Summary</a></li>
            {% if entity.is_idp %}
            <li class="nav-item"><a class="nav-link" href="#idp" role="tab" data-toggle="tab">Identity Provider</a></li>
            {% elif entity.is_sp %}
            <li class="nav-item"><a class="nav-link" href="#sp" role="tab" data-toggle="tab">Service Provider</a></li>
            {% endif %}
            <li class="nav-item"><a class="nav-link" href="#contacts" role="tab" data-toggle="tab">Contacts</a></li>
            <li class="nav-item"><a class="nav-link" id="locationtab" role="tab" data-toggle="tab" href="#location">Location</a></li>
        </ul>
    </div>

    <div class="col-xs-8 col-md-8">
        <div class="tab-content">
            <div class="tab-pane active" id="summary">
                <dl>
                    {% if entity.entity_icon %}
                    <dt>Icon</dt>
                    <dd>
                        {% if entity.entity_icon %}
                            <img alt="icon"
                                 class="img-responsive img-thumbnail"
                                 width="{{entity.entity_icon_width}}"
                                 height="{{entity.entity_icon_height}}"
                                 src="{{entity.entity_icon}}"/>
                        {% endif %}
                    </dd>
                    {% endif %}
                    {% if entity.descr %}
                    <dt>Description</dt>
                    <dd>
                        {{entity.descr}}
                    </dd>
                    {% endif %}
                    {% if entity.orgurl %}
                    <dt>URL</dt>
                    <dd><a href="{{entity.orgurl}}" rel="external">{{entity.orgurl}}</a></dd>
                    {% endif %}
                </dl>
            </div>
            {% if entity.is_idp %}
            <div class="tab-pane" id="idp">
                <dl>
                    {% if entity.name_id_formats %}
                    <dt>NameID Format(s)</dt>
                    <dd>
                        {% for nif in entity.name_id_formats %}
                        <div>{{nif}}</div>
                        {% endfor %}
                    </dd>
                    {% endif %}
                    {% if entity.protocols %}
                    <dt>Protocols</dt>
                    <dd>
                        {% for p in entity.protocols %}
                        <div>{{p}}</div>
                        {% endfor %}
                    </dd>
                    {% endif %}
                    {% if entity.scopes %}
                    <dt>Shibboleth scope(s)</dt>
                    <dd>
                        {% for s in entity.scopes %}
                        <div>{{s}}</div>
                        {% endfor %}
                    </dd>
                    {% endif %}
                    {% if entity.entity_attributes %}
                    <dt>Entity Attributes</dt>
                    <dd>
                        <dl>
                            {% for a,v in entity.entity_attributes.items() %}
                            <dt>{{a}}</dt>
                            <dd>
                                {% for ecv in v %}
                                {{ecv}}
                                {% endfor %}
                            </dd>
                            {% endfor %}
                        </dl>
                    </dd>
                    {% endif %}
                </dl>
                <!-- xsl:apply-templates select=".//md:Extensions"/ -->
            </div>
            {% elif entity.is_sp %}
            <div class="tab-pane" id="sp">
                <dl>
                    {% if entity.protocols %}
                    <dt>Protocols</dt>
                    <dd>
                        {% for p in entity.protocols %}
                        <div>{{p}}</div>
                        {% endfor %}
                    </dd>
                    {% endif %}
                    {% if entity.service_name %}
                    <dt>Service Name</dt>
                    <dd>{{entity.service_name}}</dd>
                    {% endif %}
                    {% if entity.service_descr %}
                    <dt>Service Description</dt>
                    <dd>{{entity.service_descr}}</dd>
                    {% endif %}
                    {% if entity.requested_attributes %}
                    <dt>Requested Attributes</dt>
                    <dd>
                        {% for a,is_r in entity.requested_attributes %}
                        <div class="inline">{{a}}
                        {% if 'urn:oid' in a %}
                        <a href="{{a|replace('urn:oid','http://www.alvestrand.no/objectid/')}}">...</a>
                        {% endif %}</div>
                        {% endfor %}
                    </dd>
                    {% endif %}
                    {% if entity.entity_attributes %}
                    <dt>Entity Attributes</dt>
                    <dd>
                        <dl>
                            {% for a,v in entity.entity_attributes.items() %}
                            <dt class="text-truncate">{{a}}</dt>
                            <dd>
                                {% for ecv in v %}
                                {{ecv}}
                                {% endfor %}
                            </dd>
                            {% endfor %}
                        </dl>
                    </dd>
                    {% endif %}
                </dl>
            </div>
            {% endif %}
            <div class="tab-pane" id="contacts">
                {% if entity.contacts %}
                <dl>
                {% for c in entity.contacts %}
                    <dt>{{c.type}}{% if c.company %} at {{c.company}}{% endif %}</dt>
                    <dd>{% if c.mail %}<a href="{{c.mail}}">{% endif %}{{c.display_name}}{% if c.mail %}</a>{% endif %}</dd>
                {% endfor %}
                </dl>
                {% endif %}
            </div>
            <div class="tab-pane" id="location">
                <div>
                    <div class="google-map-canvas" id="map_canvas" data-geoloc="{{entity.geo}}">Unable to display map or no location provided</div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}