{% extends "ui.html" %}
{% block headline %}{{ title }}{% endblock %}
{% block content %}
    {% if alias %}
        <ul>
            {% for v in md.store.attribute(aliases[alias]) %}
            <li><a href="/{{ alias }}/{{ v|u }}.html">{{ v }}</a>
                <a href="/{{ alias }}/{{ v|u }}.xml" title="XML Metadata"><i class="icon-cog"></i></a></li>
            {% endfor %}
        </ul>
    {% else %}
        <div class="row" id="metadataIndex">
            <div class="col-sm-3">
                <ul class="nav nav-pills flex-column">
                {% for a in aliases %}
                    {% if md.store.attribute(aliases[a]) %}
                        <li class="nav-item"><a href="#{{a}}" class="nav-link" role="tab" data-toggle="tab">{{a}}</a></li>
                    {% endif %}
                {% endfor %}
                </ul>
            </div>
            <div class="col-sm-9">
                <div class="tab-content">
                {% for a in aliases %}
                    {% if md.store.attribute(aliases[a]) %}
                    <div class="tab-pane" id="{{a}}">
                        <ul class="list-unstyled">
                            {% for v in md.store.attribute(aliases[a]) %}
                            {% if v %}
                            <li>
                                <a href="/{{ a }}/{{ v|u }}.html">{{ v }}</a>
                                <span class="badge badge-pill badge-secondary pull-right">{{ md.store.size(aliases[a],v) }}</span>
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block uiscript %}
<script type="text/javascript">
    $(document).ready(function() {
       $('#metadataIndex a:first').tab('show');
    });
</script>
{% endblock %}