{% extends "ui.html" %}

{% block headline %}{%trans%}Search Result{%endtrans%}{% endblock %}

{% block content %}
<div class="container">
<ul class="list-unstyled">
{% for entity in entities %}
    <li>
        <a href="/metadata/{{ samlmd.sha1_id(entity) }}.html">
        {% if samlmd.is_idp(entity) %}
        <span class="fa fa-users"></span>
        {% elif samlmd.is_sp(entity) %}
        <span class="fa fa-cloud"></span>
        {% else %}
        <span class="fa fa-question"></span>
        {% endif %}
        {{ samlmd.entity_display_name(entity) }}
        </a>
    </li>
{% endfor %}
</ul>
</div>
{% endblock %}