<!doctype html>
<html>
  <head>
      <title>pyFF Storage Hub @ {{vhost}}</title>
      <meta charset="utf-8">
      <!-- script type="text/javascript" src="/static/js/jquery-3.2.1.min.js"></script -->
      <script type="text/javascript" src="/static/js/hub.min.js"></script>
      <!-- script type="text/javascript" src="/static/js/jstorage.min.js"></script>
      <script type="text/javascript" src="/static/js/json2.min.js"></script -->
  </head>
  <body>
    <script>

        CrossStorageHub.init([
          {% raw %}{{% endraw %} origin: /{{vhost}}$/, allow: ['get','set','del']{% raw %}}{% endraw %},
          {% raw %}{{% endraw %} origin: /.+$/, allow: ['get']{% raw %}}{% endraw %}
        ]);
    </script>
  </body>
</html>