{% extends "common.html" %}

{% block script %}
    <link href="/static/css/typeaheadjs.css" rel="stylesheet"/>
    <link href="/static/css/prettify.css" rel="stylesheet"/>
{% endblock %}

{% block nav %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><small>{{ brand }}</small></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            {% block navtools %}{% endblock %}
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <div class="form-group">
                <input type="text"
                       class="typeahead search-query mr-sm-2 form-control input-sm"
                       placeholder="Start typing here to search"/>
            </div>
        </form>
    </div>
</nav>
{% endblock %}

{% block footer %}
<div class="footer">
    <div class="container-fluid">
        <div class="center-block small">
            <div class="row">
                <div class="col-xs-1">&#160;</div>
                <div class="col-xs-3 col-md-3">
                    <ul class="list-unstyled">
                        <li><a href="/about">{{ gettext('About') }}</a></li>
                        <li><a href="/stats">{{ gettext('Statistics') }}</a></li>
                        <li><a href="/metadata">{{ gettext('All Entities') }}</a></li>
                    </ul>
                </div>
                <div class="col-xs-1">&#160;</div>
                <div class="col-xs-3 col-md-3">
                    <ul class="list-unstyled">
                        <li><a href="http://packages.python.org/pyFF">{{ gettext('Documentation') }}</a></li>
                    </ul>
                </div>
                <div class="col-xs-1">&#160;</div>
                <div class="col-xs-3 col-md-3">
                    <ul class="list-unstyled">
                        <li><a href="/settings">{{ gettext('Settings') }}</a></li>
                        <li><a href="/reset">{{ gettext('Reset') }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block final %}
{% if google_api_key %}
<script type="text/javascript" src="//maps.google.com/maps/api/js?key={{google_api_key}}"></script>
{% endif %}
<script type="text/javascript" src="/static/js/prettify.js"></script>
<script type="text/javascript" src="/static/js/typeahead.bundle.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        prettyPrint();
        var suggest_template = Hogan.compile('<div><small>\{\{title\}\}</small></div>');
        var seldiv = $('.typeahead');
        var engine = new Bloodhound({
            name: 'idps',
            limit: 50,
            remote: '/search/?query=%QUERY',
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('title'),
            queryTokenizer: Bloodhound.tokenizers.whitespace
        });
        engine.initialize().done(function() {
            seldiv.typeahead({
                    hint: true,
                    highlight: true,
                    minLength: 2
                },
                {
                    name: 'idps',
                    source: engine.ttAdapter(),
                    displayKey: 'title',
                    templates: {
                        suggestion: function(o) {
                            return suggest_template.render(o);
                        }
                    }
                }
            )
        });
        seldiv.bind('typeahead:selected',function(event,entity) {
            if (entity) {
                document.location.href = "/metadata/"+entity.id+".html"
            }
        });
        $('.tt-hint').addClass('form-control');
        //$('table').wrap($('<div></div>').addClass('table-wrapper')).addClass("table table-striped table-condensed table-bordered");
        $('form[action="pause"] > input:submit').addClass("btn btn-xs btn-danger disable");
        $('form[action="resume"] > input:submit').addClass("btn btn-xs btn-success disable");

        if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
          var msViewportStyle = document.createElement("style");
          msViewportStyle.appendChild(
            document.createTextNode(
              "@-ms-viewport{width:auto!important}"
            )
          );
          document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
        }
    });
</script>
{% block uiscript %}
{% endblock %}
{% endblock %}
