<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="{{scheme}}://{{vhost}}/static/css/font-awesome.min.css">

    <!--
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/4.0.2/bootstrap-material-design.css" />
    <link rel="stylesheet" href="{{scheme}}://{{vhost}}/static/css/oneclick.css" />
    <link href="//fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700" type="text/css" rel="stylesheet">
    -->
    
    <!-- Pull in zoid and the 'oneclick discovery' zoid component -->
    <script src="{{scheme}}://{{vhost}}/static/js/zoid.min.js"></script>
    <script src="{{scheme}}://{{vhost}}/static/js/sha1.js"></script>
    <script src="{{scheme}}://{{vhost}}/static/js/ds-client.js"></script>
    <script src="{{scheme}}://{{vhost}}/oneclick/component.js"></script>
</head>

<body>
    <div class="btn-group btn-block" role="group" aria-label="Identity Provider Choice">
        <button type="button" class="btn btn-primary identityprovider" data-href="">
            <img src="{{scheme}}://{{vhost}}/static/icons/ra21/ra21icon.svg">
        </button>
        <button type="button" class="btn btn-primary btn-block identityprovider text-truncate" id="idpbutton">
            <i id="spinner" class='fa fa-circle-o-notch fa-spin'></i>
        </button>
    </div>
    <script>
        var mdq_url = "{{scheme}}://{{vhost}}/metadata/";
        var storage_url = "local://";
        var defaultText = "Access Through Your Institution";
        var return_url = window.xprops.returnURL;
        var on_discovery = function () { window.top.location.href = return_url; };
        var on_institution_clicked = function(url, entity_id) { window.top.location.href = url; };

        if (window.xprops.StorageURL) {
            storage_url = window.xprops.StorageURL;
        }

        if (window.xprops.MDQ) {
            mdq_url = window.xprops.MDQ;
        }

        if (window.xprops.onDiscovery) {
            on_discovery = window.xprops.onDiscovery;
        }

        if (window.xprops.onInstitutionClicked) {
            on_institution_clicked = window.xprops.onInstitutionClicked;
        }

        var ds = new DiscoveryService(mdq_url, storage_url);
        var count = 0;
        ds.with_items(function (items) {
            if (items && items.length > 0) { // or things have gone very wrong...
                var item = items[items.length-1];
                if (item && item.entity && item.entity.title && item.entity.entityID) { // silly
                    document.getElementById('idpbutton').innerText = item.entity.title;
                    document.getElementById('idpbutton').dataset['href'] = item.entity.entityID;
                    count += 1;
                }
            }

            if (count == 0) {
                document.getElementById('idpbutton').innerText = defaultText;
                document.getElementById('idpbutton').dataset['href'] = "";
            }
            document.querySelectorAll('button.identityprovider').forEach(function (item) {
                item.addEventListener('click', function(event) {
                        event.preventDefault();
                        setTimeout(function() {
                            var params = {'return': window.xprops.returnURL};
                            var entity_id = event.target.dataset.href; // TODO - this only works if we clicked the <a/>
                            if (entity_id) { // return the discovery response
                                ds.do_saml_discovery_response(entity_id, params).then(function (url) {
                                    on_institution_clicked(url, entity_id);
                                });
                            } else { // off to DS
                                on_discovery();
                            }
                            window.xchild.close();
                        }, 1000);
                    })
                });

            return items;
        });


    </script>
    
</body>
</html>