<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="{{scheme}}://{{vhost}}/static/css/font-awesome.min.css">

    <!--
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/4.0.2/bootstrap-material-design.css" />
    <link rel="stylesheet" href="{{scheme}}://{{vhost}}/static/css/oneclick.css" />
    <link href="//fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700" type="text/css" rel="stylesheet">
    -->
    
    <!-- Pull in zoid and the 'oneclick discovery' zoid component -->
    <script src="{{scheme}}://{{vhost}}/static/js/zoid.min.js"></script>
    <script src="{{scheme}}://{{vhost}}/static/js/sha1.js"></script>
    <script src="{{scheme}}://{{vhost}}/static/js/ds-client.js"></script>
    <script src="{{scheme}}://{{vhost}}/oneclick/component.js"></script>
</head>

<body>
    <div class="btn-group" role="group" aria-label="Identity Provider Choice">
        <button type="button" class="btn btn-primary">
            <i class="fa fa-university"></i>
        </button>
        <button type="button" class="btn btn-outline-primary btn-block" id="idpbutton" class="identityprovider">
            <i id="spinner" class='fa fa-circle-o-notch fa-spin'></i>
        </button>
    </div>
    <!-- Set up Access Through Your institution -->
    <!-- form id="axButtonForm">
    	<div id="CTAcnt" class="CTAcontainer">
    		<div class="logobox"><img id="instLogo" width="32" height="32" src=""></div>
    		<div class="orgNameWidget" id="instWidgetV"></div>
    	</div>
    </form -->

    <!-- svg id="spinner" class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
        <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
    </svg -->
    
    <script>

        var mdq_url = "{{scheme}}://{{vhost}}/metadata/";
        var storage_url = "local://";
        var defaultText = "Check Access";
		var icon = "/static/icons/ra21/panth2.png";

        if (window.xprops.StorageURL) {
            storage_url = window.xprops.StorageURL;
        }

        if (window.xprops.MDQ) {
            mdq_url = window.xprops.MDQ;
        }

        var ds = new DiscoveryService(mdq_url, storage_url);
        var count = 0;
        ds.each(function (entity) {
            console.log(entity);
            if (count == 0) { // get the first one - probably not the only rendering mode that is useful
                document.getElementById('#idpbutton').innerText = entity.title;
                document.getElementById('#idpbutton').dataset['href'] = entity.entityID;
            }
            count += 1;
        }).then(function() {
            if (count == 0) {
                document.getElementById('#idpbutton').innerText = defaultText;
            }
            document.querySelector('.identityprovider').addEventListener('click', function(event) {
                event.preventDefault();
                setTimeout(function() {
                    var params = {'return': window.xprops.returnURL};
                    var entity_id = event.target.dataset.href; // TODO - this only works if we clicked the <a/>
                    // Since we had a click, call-back the parent page to let them know the entityID and the response URL
                    ds.do_saml_discovery_response(entity_id, params).then(function (url) {
                        window.xprops.onInstitutionClicked(url, entity_id);
                        window.xchild.close();
                    });

                }, 100);
            });
        });


    </script>
    
</body>
</html>