<%include file="header.html"/>
    <h1>${_('About this server')}</h1>
    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#info" data-toggle="tab">${_('Server Info')}</a>
            <li><a href="#pipeline" data-toggle="tab">${_('Pipeline')}</a></li>
            <li><a href="#repo" data-toggle="tab">${_('Repository')}</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane" id="pipeline">
                % for p in plumbings:
                <pre class="pre-scrollable">${p}</pre>
                % endfor
            </div>
            <div class="tab-pane active" id="info">
                <dl class="dl-horizontal">
                    <dt>pyFF ${_('version')}</dt>
                    <dd>${version}</dd>
                    <dt>Cherrypy ${_('version')}</dt>
                    <dd>${cversion}</dd>
                    <dt>pyFF ${_('startup arguments')}</dt>
                    <dd>${cmdline}</dd>
                    <dt>${_('System information')}</dt>
                    <dd>${sysinfo}</dd>
                    <dt>${_('Repository size')}</dt>
                    <dd>${stats['Repository Size']}</dd>
                    <dt>${_('Last update')}</dt>
                    <dd>${stats['Repository Update Time']}</dd>
                </dl>
            </div>
            <div class="tab-pane" id="repo">
                % for uri in repo.store.collections():
                <h2>${uri}</h2>
                <dl>
                    % for k,v in repo.summary(uri).iteritems():
                    % if v:
                    <dt>${k}</dt>
                    % if type(v) is list:
                        <dd><ul>
                        % for vv in v:
                            <li><a href="/metadata/${repo.sha1_id(vv)}.html">${vv}</a></li>
                        % endfor
                        </ul></dd>
                    % else:
                    <dd>${v}</dd>
                    % endif
                    % endif
                    % endfor
                </dl>
                % endfor
            </div>
        </div>
    </div>
<%include file="footer.html"/>