<!DOCTYPE HTML>
## -*- coding: utf-8 -*-
<html>
<head>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/js/select2/select2.css" rel="stylesheet"/>
    <link href="/static/css/flags.css" rel="stylesheet"/>
    <link href="/static/css/pyff.css" rel="stylesheet"/>
    <link href="/static/css/style.css" rel="stylesheet"/>
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.browser.js"></script>
    <script type="text/javascript" src="/static/js/jquery.ba-bbq.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/json2.js"></script>
    <script type="text/javascript" src="/static/js/jstorage.js"></script>
    <script type="text/javascript" src="/static/js/select2.min.js"></script>
    <script type="text/javascript" src="/static/js/mdetect.js"></script>

    <title>Please login...</title>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->
    <script type="text/javascript" src="/static/js/pyff.js"></script>

    <script type="text/javascript">

        $(function() {
            $('#quickLinks').dsQuickLinks();
            $('.sp').dsRelyingParty('${sp}');
            $('#select').dsSelect({
                empty: function() {
                    $('a[href="#suggested"]').parent().hide();
                    $('a[href="#search"]').tab('show');
                    $('#select').dsSelect('focus');
                },
                nonempty: function() {
                    $('a[href="#suggested"]').parent().show();
                    $('a[href="#suggested"]').tab('show');
                }
            });

            $("img.fallback-icon").error(function(e) {
                $(this).error(function(e) {});
                $(this).attr('src','/static/icons/1x1t.png').removeClass("img-polaroid").hide();
            });
            $('#switch-to-search').click(function (ev) {
                ev.preventDefault();
                $('#search').tab('show');
                $('#select').dsSelect("focus");
            });
            $('a[href="#search"]').click(function (e) {
                e.preventDefault();
                $(this).tab('show');
                $('#select').dsSelect("focus");
            });
            $('a[data-toggle="tab"]').click(function (e) {
                e.preventDefault();
                $(this).tab('show');
            });
            $('.message > button.close').click(function(e) {
                //console.log(e);
                //console.log($(this));
                var closed = $.jStorage.get('pyff.discovery.messages',{});
                var id = $(this).parentsUntil('.message').attr('id');
                $(this).parent().each(function() {
                    //console.log($(this).attr('id'));
                    closed[$(this).attr('id')] = true;
                });
                $.jStorage.set('pyff.discovery.messages',closed);
            });
            $('.message').each(function () {
                var closed = $.jStorage.get('pyff.discovery.messages',{});
                if (closed[$(this).attr('id')]) {
                    $(this).hide();
                }
            });
        });
    </script>
<body>

<div id="wrap">
    <div style="width: 100%" class="navbar hidden-phone navbar-static-top">
        <div class="navbar-inner" style="padding-left: 40px;">
            <a class="brand" href="#">Identity Provider Selection</a>
        </div>
    </div>
    <div class="container-fluid">
        <div class="span1"></div>
        <div class="span6">
            <h2>How do you want to sign in?</h2>
            <div class="tabbable tabs-below">
                <ul id="idptab" class="nav nav-tabs">
                    <li><a href="#suggested" data-toggle="tab">Suggested</a></li>
                    <li><a href="#search" data-toggle="tab">All Login Providers</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane" id="suggested">
                        <div id="quickLinks"></div>
                        <div class="clearfix"></div>
                        <!-- a id="switch-to-search" href="#">Help me find my Identity Provider!</a -->
                    </div>
                    <div class="tab-pane" id="search" style="min-height: 100px;">
                        <!-- div style="width: 99%;" class="visible-desktop" id="select" data-target="${search}"></div -->
                        <input type="text" style="width: 95%;" id="select"
                               data-target="${search}" data-provide="typeahead"/>
                    </div>
                </div>
            </div>
            <div class="alert alert-info message" id="remember-message">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <h4>Remember choice</h4>
                <form class="form-inline">
                    <label class="checkbox"><input id="remember" type="checkbox"> Remember my choice and never show me this page again!</label>
                </form>
            </div>
        </div>
        <div class="span4 hidden-phone">
            <h4 class="sp sp-name"></h4>
            <div class="sp sp-icon"></div>
            <div class="sp sp-description"></div>
            <div class="alert alert-info message" id="about">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <h4>What is this?</h4>
                <p>You are accessing a service which requires you to sign in. You
                need to choose an identity provider - typically your home organization.</p>
            </div>
        </div>
    </div>
    <div id="push"></div>
</div>
<div id="footer" class="hidden-phone">
    <div class="container" style="padding-top: 50px">
        <div class="row-fluid">
            <div class="span12">
                <div class="fluid-row">

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>