<!DOCTYPE html>
## -*- coding: utf-8 -*-
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/css/typeahead.js-bootstrap.css" rel="stylesheet"/>
    <link href="/static/css/pyff.css" rel="stylesheet"/>
    <link href="/static/css/ds.css" rel="stylesheet"/>
    <link href="/static/css/style.css" rel="stylesheet"/>

    <title>Please login...</title>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/static/js/html5shiv.js"></script>
      <script src="/static/js/respond.min.js"></script>
    <![endif]-->
<body>
    <a href="#content" class="sr-only">${_('Skip to content')}</a>
    <div class="container">
        <div class="header text-muted">
            <small class="hidden-xs">select a login provider for signing in to ...</small>
            <h3>
                <span class="sp sp-name"></span>
                <img class="sp sp-icon sp-thumbnail"/>
            </h3>
        </div>

        <div id="idpchooser">
            <div id="quickLinks"></div>
            <div id="thesearch"><input type="text"

                   class="form-control idselect"
                   data-target="${search}"
                   placeholder="${_('Start typing to search for your home institution or login provider...')}"/></div>
            <select title="${_('Select your home institution or login provider below')}"
                    id="thelist"
                    class="form-control idselect hidden">
            </select>
            <small class="pull-right">
                <a href="#" id="to_list">... ${_('let me choose from a list instead')}</a>
                <a href="#" class="hidden" id="to_search">... ${_('let me search instead')}</a>
            </small>
        </div>
        <div class="alert alert-success message" id="remember-message">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <form class="form-inline" role="form">
                    <label class="checkbox">
                        <input id="remember" type="checkbox">
                        ${_('Remember my selection')}
                    </label>
            </form>
        </div>
    </div>

<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/hogan.js"></script>
<script type="text/javascript" src="/static/js/typeahead.js"></script>
<script type="text/javascript" src="/static/js/jquery.browser.js"></script>
<script type="text/javascript" src="/static/js/jquery.ba-bbq.min.js"></script>
<script type="text/javascript" src="/static/js/json2.js"></script>
<script type="text/javascript" src="/static/js/jstorage.js"></script>
<script type="text/javascript" src="/static/js/mdetect.js"></script>
<script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/sha1.js"></script>
<script type="text/javascript" src="/static/js/pyff.js"></script>
<script type="text/javascript">
        $(function() {
            $('#quickLinks').dsQuickLinks();
            $('.sp').dsRelyingParty('${sp}');
            $('.idselect').dsSelect({});
            jQuery.fn.sort = function() {
                return this.pushStack( [].sort.apply( this, arguments ), []);
            };
            $('.message > button.close').click(function(e) {
                //console.log(e);
                //console.log($(this));
                var closed = $.jStorage.get('pyff.discovery.messages',{});
                var id = $(this).parentsUntil('.message').attr('id');
                $(this).parent().each(function() {
                    //console.log($(this).attr('id'));
                    closed[$(this).attr('id')] = true;
                });
                $.jStorage.set('pyff.discovery.messages',closed);
            });
            $('.message').each(function () {
                var closed = $.jStorage.get('pyff.discovery.messages',{});
                if (closed[$(this).attr('id')]) {
                    $(this).hide();
                }
            });
            $('#to_list').click(function(){
                $('#thelist').dsSelect('refresh');
                $('#thelist').removeClass('hidden');
                $('#thesearch').addClass('hidden');
                $('#to_list').addClass('hidden');
                $('#to_search').removeClass('hidden');
            });
            $('#to_search').click(function() {
                $('#thesearch').removeClass('hidden');
                $('#thelist').addClass('hidden');
                $('#to_search').addClass('hidden');
                $('#to_list').removeClass('hidden');
            });
        });
</script>
</body>
</html>
