            </div> <!-- col -->
        </div> <!-- row -->
    </div>
    <script type="text/javascript">
        $(function() {
            prettyPrint();
            var match_template = Hogan.compile('<div>{{title}}</div>');
            var seldiv = $('.typeahead');
            var engine = new Bloodhound({
                name: 'idps',
                limit: 50,
                remote: '/search/?query=%QUERY',
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('title'),
                queryTokenizer: Bloodhound.tokenizers.whitespace
            });
            engine.initialize().done(function() {
                seldiv.typeahead({
                        hint: true,
                        highlight: true,
                        minLength: 2
                    },
                    {
                        name: 'idps',
                        source: engine.ttAdapter(),
                        displayKey: 'title',
                        templates: {
                            suggestion: function(o) {
                                return match_template.render(o)
                            }
                        }
                    }
                )
            });
            seldiv.bind('typeahead:selected',function(event,entity) {
                if (entity) {
                    document.location.href = "/metadata/"+entity.id+".html"
                }
            });
            $('.tt-hint').addClass('form-control');
            $('table').wrap($('<div>').addClass('table-wrapper')).addClass("table table-striped table-condensed table-bordered");
            $('form[action="pause"] > input:submit').addClass("btn btn-xs btn-danger");
            $('form[action="resume"] > input:submit').addClass("btn btn-xs btn-success");

            if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
              var msViewportStyle = document.createElement("style");
              msViewportStyle.appendChild(
                document.createTextNode(
                  "@-ms-viewport{width:auto!important}"
                )
              );
              document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
            }
        });
    </script>
</body>
</html>