<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
## -*- coding: utf-8 -*-
<html>
<head>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/css/prettify.css" rel="stylesheet"/>
    <link href="/static/css/flags.css" rel="stylesheet"/>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/prettify.js"></script>
    <script type="text/javascript" src="/static/js/jquery.ui.map.full.min.js"></script>
    <title>pyFF @ ${http.base}</title>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script type="text/javascript">
        $(function() {
            var labels,mapped,ids
            function search(query,process) {
                $.getJSON("/search/?query="+query,function(data) {
                    labels = []
                    mapped = {}
                    ids = {}

                    $.each(data,function(i,item){
                        mapped[item.label] = item.value
                        ids[item.label] = item.id
                        labels.push(item.label)
                    })
                    process(labels)
                })
            }
            prettyPrint();
            $('.typeahead').typeahead({'source': search,'updater': function(item) {
                return mapped[item]
            }});
            $('.typeahead').on('change',function(event) {
                var value = $('ul.typeahead li.active').data('value')
                if (value) {
                    document.location.href = "/metadata/"+ids[value]+".html"
                }
            })
            $('table').addClass("table table-striped table-bordered table-condensed")
            $('input:submit').addClass("btn btn-mini")
            $('h1').wrap("<div class='page-header'/>")
        });
    </script>
</head>
<body>
<div class="navbar">
    <div class="navbar-inner">
        <a class="brand" href="#">pyFF @ ${http.base}</a>
        <ul class="nav">
            <li><a href="/">Home</a></li>
            <li><a href="/metadata">All Entities</a></li>
        </ul>
        <form class="navbar-search pull-left">
            <input type="text" class="typeahead search-query" placeholder="Search">
        </form>
        <ul class="nav pull-right">
            <li><a href="/about">About</a></li>
            <li><a href="/stats">Statistics</a></li>
            <li><a href="http://packages.python.org/pyFF">Documentation</a></li>
        </ul>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="span12">