<%include file="header.html"/>
        <h1>Entities</h1>
        <ul class="unstyled">
    % for entity in entities:
            <li><a href="/metadata/${md.sha1_id(entity)}.html">
                % if md.is_idp(entity):
                <i class="icon-user"></i>
                % elif md.is_sp(entity):
                <i class="icon-globe"></i>
                % else:
                <i class="icon-question-sign"></i>
                % endif
                &nbsp;${md.display(entity)}
            </a></li>
    % endfor
        </ul>
<%include file="footer.html"/>