<%include file="header.html"/>
        <h1>Entities</h1>
        <ul class="list-unstyled">
    % for entity in entities:
            <li><a href="/metadata/${md.sha1_id(entity)}.html">
                % if md.is_idp(entity):
                <span class="glyphicon glyphicon-home"></span>
                % elif md.is_sp(entity):
                <span class="glyphicon glyphicon-cloud"></span>
                % else:
                <span class="glyphicon glyphicon-question-sign"></span>
                % endif
                ${md.display(entity)}
            </a></li>
    % endfor
        </ul>
<%include file="footer.html"/>